*{
	margin: 0;
	padding: 0;
}

body {
	
	background: url(Background.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}
::-webkit-scrollbar {
  width: 0;
}


h1{
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
	color: #E1E1E1;
	font-family: 'Varela Round';
	margin-top: 30px;
}
.nav{
	text-align: center;
	
	margin-top: 20px;
}

#panel{
	display: inline-block;
	text-align: center;
}
.button{
	display: inline-block;
}
.button {
	line-height: 50px;
	position: relative;
	display: inline-block;
	background: none center center no-repeat;
	background-size: cover;
	border: 2px solid #E1E1E1;
	text-transform: uppercase;
	letter-spacing: .3rem;
	padding: 10px;
	text-align: center;
	max-width: 500px;
	min-width: 367px;
	min-height: 50px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
	transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button a {
	font-size:40px;
	color: #E1E1E1;
	font-family: 'Varela Round';
	text-decoration: none;

}

.button .mask {
	background: #fff;
	background: rgba(255,255,255,0.5);
}

.button .mask {
	position: absolute;
	display: block;
	width: 420px;
	height: 150px;
	-webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	-webkit-transition: all 1.3s cubic-bezier(0.19,1,.22,1);
	transition: all 1.3s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
	-webkit-transition: all 1.3s cubic-bezier(0.19,1,.22,1);
	transition: all 1.3s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
	border-color: #fff;
	
}

.button:hover a {
	color: #fff;
}

.button:hover .mask {
	background: #fff;
	-webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
	transform: translate3d(140%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
	padding-left: 5px;
}
.content{
	margin-top: 30px; 
	width: 100%;
	display: none;
	text-align: center;
}
table {
font-family: Sans-Serif;

border-collapse: collapse;
text-align: center;
display: inline-block;
background: rgba(0,0,0,0.7);
}
td, th {
border-style: solid;
border-width: 4px;
border-color: grey;
padding: 10px;
color: white;
width: 350px;}

#Polnomochia td{
	width: 600px;
}
#Structure table{
	font-size: 25px;
}
